<!doctype html>
<html ng-app="youtube-app">
<head>
<link rel="stylesheet" href="style.css">
</head>

<body>

<div ng-controller="youtube-controller" style="margin: 0 auto; text-align: center;">
	<div id="array">
		<ul ng-repeat="video in videos"><li style="list-style-type: none;">{{video}}</li></ul>
		<input placeholder="add" ng-model="add"></input><button ng-click="addvideo()">add</button>
	</div>

	<div id="controls">
		<h1>video id: {{videoID()}}</h1>		
		W: <input class="valbox" ng-model="width" placeholder="width"></input>
		H: <input class="valbox" ng-model="height" placeholder="height"></input>
		<button ng-click="go()">Next Video</button>
	</div>
	
	<youtube id="{{current}}" width="{{width}}" height="{{height}}"></youtube>

	<div id="codeblock"><code>{{code()}}</code></div>

</div>

	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/directive.js"></script>
	<script src="js/service.js"></script>
</body>
</html>